/* .slick-prev::before,
.slick-next::before{
    display: none;
}

.slick-prev{
    top: 40%;
    color: #fff!important;
}
.slick-next{
    top: 40%;
    width:4.7vw;
} */

.glider-column15 {
    position: relative;
  } 

  .glider-prev15,
  .glider-next15 {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.15rem;
    font-weight: 700;
    cursor: pointer;
    user-select: none;
    padding: 1rem;
    width: 1rem;
    height: 1rem;
    opacity: 0.75;
    border-radius: 50%;
    color: #fff;
    background: #000;
  }

  .glider-prev15 {
    top: 40%;
    left: 2rem;
    right: auto;
  }

  .glider-next15 {
    top: 40%;
    left: auto;
    right: 2rem;
  }

  @media (max-width: 960px) {
  .glider-prev15,
  .glider-next15 {
      display: none;
  }

  }